container_commands:
  01_migrate:
    command: "python manage.py migrate --no-input"
    leader_only: true

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true

  03_create_su:
    command: "python manage.py create_su"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: musite/wsgi.py
